//global font variables
$font-base: 'Mulish', sans-serif;

// global color variables
$color-white: #fff;
$color-black: #000;
$color-warning: #FFFC00;
$color-primary: #0157BA; 
$color-grey: #404040;
$color-danger: #FF7600;
$color-blue: #0084FF;
$color-light: #EAF7FF;
 

// global font-size variables
$base-size: 1rem;

//global font weight
$wt300: 300;
$wt400: 400;
$wt600: 600;
$wt700: 700;
$wt800: 800;

//screen  width
$container-xxs: 409px;
$container-md: 768px;
$container-lg: 992px;
$container-xl: 1200px;



